html, body {
  background-color: #0f0f14;
  font-family: 'Abel', sans-serif;
}

.login {
  display: flex;
  height: 100vh;


  .login-left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: -10px;
    flex-basis: -50%;
    width: 50%;
    height: 100%;
    background-color: #F3F3ED;

    margin-right: 12px; 
    position: relative; 
    z-index : 2;


    margin-right: 12px; 
    position: relative; 
    z-index : 2;
   

    margin-right: 12px; /* Add margin to the right */
    position: relative; /* Set position to relative */
    z-index : 2;


    
    // max-width: 0;
    // z-index : -1;

    &.disappear{
      animation-name: closure;
      animation-duration: 0.7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
    .header{
     position:relative;
    
      
      color: #15246e;
      font-size: 42px;
      font-weight: bold;
      margin-bottom: 24px; 

      &.headerAction{
        animation-name: headerAction;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }
   
    p {
      color: red;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    
      // index z 
      &.formClosure{
        animation-name: formClosure;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
      label {
        font-weight: 900;
        font-size: 20px;
        color: #343438;
        margin-bottom: 8px;
        animation-name: formClosure;
        
      }

      input {
        padding: 10px;
        border-radius: 4px;
        border: 0.2px solid #cccccc;
        margin-bottom: 0px;
        background-color: #ffffff;
        font-size: 16px;
        color: #333333;
        transition: all 0.3s ease;
         font-family: 'Abel', sans-serif;
         z-index: 2;
        &:focus {
          outline: none;
          border-color: #0077ff;
        }
        // hover effect to input 
        &:hover {
          background-color: #f3f3f3;
          cursor: pointer;
          
        }
      }
      .phone-input {
        display: flex;
        align-items: center;
      
        select {
          flex:1;
          padding: 9px;
          border-radius: 4px 0 0 4px;
          border: 0.2px solid #cccccc;
          background-color: #ffffff;
          font-size: 17px;
          color: #333333;
          transition: all 0.3s ease;
          font-family: 'Abel', sans-serif;
          // font weight very bold
          font-weight: bold;
          z-index: 2;
      
          &:focus {
            outline: none;
            border-color: #0077ff;
          }
          &:hover {
            background-color: #f3f3f3;
            cursor: pointer;
            
          }
           
          
        }
      
        input {
          flex: 1;
          padding: 10px;
          border-radius: 0 4px 4px 0;
          border: 0.2px solid #cccccc;
          margin-bottom: 0px;
          background-color: #ffffff;
          font-size: 16px;
          color: #333333;
          transition: all 0.3s ease;
          font-family: 'Abel', sans-serif;
          z-index: 2;
      
          &:focus {
            outline: none;
            border-color: #0077ff;
            flex:2;
          }
      
          &:hover {
            background-color: #f3f3f3;
            cursor: pointer;
            flex:2;
          }
          // clicked
          &:active {
            background-color: #f3f3f3;
            cursor: pointer;
            flex:1.6;
          }
          // when clicked remain flex:1.6
         
        }
         
      }

      .or-divider {
        display: flex;
        align-items: center;
        margin: 16px 0;
      }

      .or-divider-line {
        flex: 1;
        height: 2px;
        background-color: #8a8888;
      }

      .or-divider-text {
        margin: 0 16px;
        font-size: 16px;
        color: #7c7b7b;
        text-transform: uppercase;
      }

      .remember-me {
        display: flex;
        input[type="checkbox"] {
          margin-right: 8px;
          // size of checkbox
          width: 12px;
          height: 15px;
          padding: 0;
        }

        label {
          font-size: 14px;
          color: #333333;
        }
      }

      .forgot-password {
       margin-left: 100px;
        
        a {
          font-size: 14px;
          color: #717171;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: #004ac9;
          }
        }
      }

    }

    .btn {
      flex-direction: column;
      padding: 12px 24px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;

      text-align: center;
      justify-self: center;
      align-items: center;


      text-align: center;
      justify-self: center;
      align-items: center;


      

      &.btn-primary {
        margin-top: 40px;
        background-color: #0077ff;
        color: #ffffff;
        border: none;
        margin-right: 16px;
        margin-bottom:10px;



        background-repeat: no-repeat;
        background-position: 12px center;
        background-size:14px;
  


        background-image: url('../../assets/lock.png');

        background-repeat: no-repeat;
        background-position: 12px center;
        background-size:14px;
  



        &.formClosure{
        animation-name: formClosure;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
       
        &:hover {
          background-color: #005dff;
        }
        
      }

      &.btn-google {
        background-color: #ffffff;
        color: #333333;
        border: 2px solid #cccccc;
        transition: all 0.3s ease;
        background-image: url('../../assets/google.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px;
        padding-left: 40px;
      
      

        &:hover {
          background-color: #f3f3f3;
          border-color: #0077ff;
          color: #0077ff;
        }
      }
    }
  }
  
  .login-left::after {
    content: '';
    position: absolute;
    top: 0;
    right: -94px; /* Set the right position equal to the margin value */
    height: 100%;
    width: 0;
    border-right: 200px solid #F3F3ED;
    transform: skewX(-4deg); /* Rotate the border using skewX */
    z-index: -1;
    background-color: #F3F3ED; /* Set the background color to match the .login-left element */
    border-radius: 0 0 20px 10px;
    animation-name: radChange;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  .login-right {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #0f0f14;
    margin-left: 12px;
    padding: 0;
    text-align: center;
    margin-left:100px;
    overflow:hidden;


    overflow:hidden;


    .test-shine {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }




    img {
      max-width: 60%;
      max-height: 670%;
      border-radius: 50%;
      overflow: hidden;
      transform: translateY(20%);
      animation-name: slide-in;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      margin: auto;
      -webkit-user-drag: none;
      position: relative; /* Add position property */
      text-align: center;
      top :50%;
      left:10%;
      margin: auto;
     
    }
    // zoom in 
    
    animation-name: expand;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  // @keyframes zoomIn {
  //   from {
  //     transform: scale(3);
  //   }
  //   to {
  //     transform: scale(5);
  //   }
  // }
  
  @keyframes centerImg {
    from {
      position: relative;
      top: 50%;
      left: 45%;
      transform: translateY(100%);

    }
    to {
      position: absolute;
      top: 50%;

      left: 44%;


      left: 44%;

      left: 45%;


      transform: translate(-50%, -50%);
    }
  }
  @keyframes headerAction {
    0% {
      visibility: visible;
      opacity: 1;
    }
    10% {
      visibility: hidden;
      opacity: 0;
    }
  }
  @keyframes formClosure {
    0% {
      visibility: visible;
      opacity: 1;
    }
    10% {
      visibility: hidden;
      opacity: 0;
    }
  }

  @keyframes closure {
    0% {
      max-width: 500px;
      z-index: 2;

    }
 
    100% {
      max-width: 0px;
      z-index: -1;
      text-align: center;

    }
  }


  @keyframes slide-in {
    from { 
      opacity: 0;
      transform: translateY(20%);
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes radChange {
    from {
      border-radius: 0 0 0 5px;
    }
    to {

      border-radius: 0 0 80px 5px;
    }
  }
  @keyframes expand {
    from {
      flex: 0.3;
    }
    to {
      flex: 1.3;
    }
  }
}  






@media (max-width:750px) {

@media (max-width: 400px) {
  .login {
    flex-direction: column;
    align-items: center;

    .login-left {
      width: 50%;
      margin-right: 0;
      margin-bottom: 32px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      flex:1.6;
      flex-grow: 42; /* take up more vertical space */
    }

    .login-right {
  
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-right img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
    .login-left::after{
      display:none;
    }

    .test-shine {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right:50px;
    }
    img{
      display:flex;
      flex-direction: column;
    }
    .showLoader{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right:50px;
    }
  }

  .login .btn {
    margin-bottom: 24px;
  }

  .login .form-group {
    margin-bottom: 16px;
  }
}
/* Media query for screens between 768px and 1023px */
@media  (max-width: 1023px) {
  html, body {
    font-family: 'Abel', sans-serif;
  }

  .login {
    flex-direction: column;
    align-items: center;

    .login-left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      flex: 1.6;
      flex-grow: 4.1; /* take up more vertical space */
    }

    .login-right {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-right img {
      max-width: 100%;
      width: auto;
      height: auto;
      overflow: auto;
      z-index: 3;
      position: relative;
      margin-top: 40px;
      margin-bottom:50px;
    }

    .login-left::after {
      display: none;
    }

    .test-shine {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      margin-bottom: 30px;
    }

    img {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      z-index: 9999; /* Increase z-index value to make it appear above */
      position: relative; /* Add position property */
    }

    .showLoader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
    }
  }

  .login .btn {
    margin-bottom: 24px;
  }

  .login .form-group {

    margin-bottom: 16px;

    margin-bottom: 10px;


  }

  .login h2 {
    font-size: 36px;

  }

  .login-right img {
    max-width: 100%;
    max-height: unset;


  }

  .login-right img {
    max-width: 100%;
    max-height: unset;
  }

  // header 
  .login{
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width:auto;
  }
  .login .login-left {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .login .login-left .header {
   font-size:30px;
   text-align: center;
    justify-content: center;
    align-items: center;
    margin-left:0px;
    max-width:auto;
  }
  // button primary 
  .login .btn-primary {
    background-color: #fff;
    max-width: 320px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-width:auto;


    margin-bottom: 10px;
  }

  .login .btn.btn-primary {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .login-right img {
    display:none;


  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .login .form-group {
    margin-left: 40px;
  }

  .login-right img {
    max-width: 100%;
    max-height: unset;
  }
}


@media (max-width: 1100px ) and (min-width: 750px) {
   




@media (max-width: 1100px) {
  .login {
    flex-direction: column;
    align-items: center;

    .login-left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      flex:1.6;
      flex-grow: 4.1; /* take up more vertical space */
    }

    .login-right {
  
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-right img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
    .login-left::after{
      display:none;
    }

    .test-shine {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right:50px;
      margin-bottom: 30px;
    }
    img{
      display:flex;
      flex-direction: column;
      margin-bottom: 30px;
      z-index: 2;
    }
    .showLoader{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right:50px;
    }
  }
}

/* Media query for screens between 1024px and 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {

  .login {
    flex-direction: column;
    align-items: center;

    .login-left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      flex: 1.6;
      flex-grow: 4.1; /* take up more vertical space */
    }

    .login-right {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-right img {
      max-width: 100%;
      width: auto;
      height: auto;
      overflow: auto;
      z-index: 3;
      position: relative;
      height:300px;
      padding-bottom: 20px;
    }

    .login-left::after {
      display: none;
    }

    .test-shine {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      margin-bottom: 30px;
    }

    img {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      z-index: 9999; 
      position: relative; 
    }

    .showLoader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
    }
  }

  .login .btn {

    margin-bottom: 24px;


    margin-bottom: 24px;
  }

  .login .form-group {
    margin-bottom: 16px;
  }

  .login h2 {
    font-size: 36px;
  }

  .login-right img {
    max-width: 100%;
    max-height: unset;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .login  .form-group {
    margin-left:40px;
  }
  // header 
  .login{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .login .login-left {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .login .login-left .header {
   font-size:30px;
   text-align: center;
    justify-content: center;
    align-items: center;
    margin-left:50px
  }
  // button primary 
  .login .btn-primary {
    background-color: #fff;
    max-width: 310px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left:50px;

    
    margin-bottom: 0;

  }

  .login .form-group {
    margin-bottom: 16px;
  }

  .login h2 {
    font-size: 36px;
  }

  @keyframes closure {
    0% {
      max-width: 500px;
      z-index: 2;
    }
   
    100% {
      max-width: 0px;
      z-index: -1;
      text-align: center;
    }
  }

  .login-right img {
    max-width: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .login .form-group {
    margin-left: 40px;
  }

  .login-right img {
    max-width: 100%;
    max-height: unset;
  }
}


@media (max-width: 1024px) and (max-height: 600px) {
  .login-right img {
    max-width: 30px;
    max-height: 30px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .login .form-group {
    margin-left: 40px;
  }

  .login-right img {
    max-width: 100%;
    max-height: unset;
  }
}

